.food_container{
    margin-top: 50px;
}

.header_section h1{
    font-size: 38px;
    font-weight: bold;
}

.display_container{
    display: flex;
    gap: 100px;
}

.category_section{
    width: 28%;
    padding: 20px;
}

.category_section h1{
    font-size: 25px;
}

.category_list{
    list-style: none;
    padding: 0;
    width: 85%;
}

.category_list li{
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #6d7275;
}

.category_list li.active{
    font-weight: bold;
    color:#C7D6D5 ;
    background: #c20114;
}

.grid_display{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    column-gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.product_card{
    width: 250px;
    border: 1px solid #2e2e2f;
    padding: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.product_card:hover {
    box-shadow: 15px 15px 15px rgba(251, 6, 6, 0.3);
}

.product-image{
    position: relative;
}

.product-image img{
    width: 100%;
    height: 260px;
}

.product_card h3{
    font-size: 20px;
    margin: 5px 0;
    margin-bottom: 10px;
}

.price-add button{
    padding: 0.5rem 2rem;
    border: none;
    background: #c20114;
    border-radius: 5px;
    color: #C7D6D5;
}
.price-add button:hover{
    font-weight: 900;
    font-size: 16px;
}

.price-add p{
    color: #983a45;
}

.product_card p{
    font-size: 24px;
    padding-bottom:15px;
}