.form-container {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  padding-top: 2rem;
  min-height: 80vh;
  border-top: 1px solid #ddd;
}

.form-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 650px;
}
.payment-method {
  border: 2px solid #ccc;
  padding: 30px;
  border-radius: 10px;
}

.payment-method legend {
  text-align: center;
  font-size: 24px;
}

.payment-options{
    display: flex;
    gap: 6rem;
}

.payment-option{
    align-items: center;
    border: 1px solid #6d7275;
    padding: 0.6rem 4.8rem;
    cursor: pointer;
    border-radius: 5px;
}

.payment-option.selected{
    background-color: #c20114;
}
.payment-text{
    font-size: 0.8rem;
}

.payment-logo{
    height: 20px;
}

.form-title h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form-row{
    display: flex;
    gap: 1rem;
}

.form-input{
    background-color: #6d7275;
    color: white;
    border: 1px solid #c20114;
    border: 5px;
    padding: 0.9rem 1rem;
    width: 95%;
    border-radius: 5px;
    font-size: 16px;
}

.form-right{
    width: 480px;
}

.form-submit{
    text-align: right;
    margin-top: 2rem;
}

.submit-btn{
    background-color: #c20114;
    color: #C7D6D5;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-input::placeholder {
  color: #C7D6D5; 
  font-size: 16px;

  opacity: 1;  
}