.cart-item{
    display: grid;
    grid-template-columns: 4fr 0.5fr 0.5fr;
    grid-template-areas: "product info quantity delete";
    padding: 1rem 0;
    border-top: 1px solid #C7D6D5;
    border-bottom: 1px solid #C7D6D5;
    color: #C7D6D5;
}

.cart-item-info{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

.product-cart-image{
    width: 4rem;
}

.product-details-cart{
    display: flex;
    flex-direction: column;
}

.cart-product-name{
    font-size: 1.5rem;
    font-weight: 500;
}

.cart-product-price{
    font-size: 18px;
}

.quantity-input{
    border: 1px solid #C7D6D5;
    width: 50px;
    height: 35px;
    justify-content: center;
    place-items: center;
    place-self: center;
}

.delete-icon{
    cursor: pointer;
    margin-left: 1rem;
    place-self: center;
    font-size: 28px;
}

.checkout-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
    background-color: #0c120c;
    padding: 15px;
    max-width: 600px;
    justify-content: center;
}

.checkout-box{
    width: 100%;
    max-width: 28rem;
}

.checkout-btn-container{
    width: 100%;
    text-align: end;
}

.checkout-btn{
    background-color:#983a45;
    color: #C7D6D5;
    font-size: 0.87rem;
    margin-top: 2rem;
    padding: 0.75rem 2rem;
}

.checkout-btn:hover{
    background-color: #c20114;
}