.order-container {
  padding: 2rem;
  border-top: 2rem;
}

.order-title h1 {
  font-size: 30px;
}

.order-item-container {
  padding: 1rem 0;
  border-top: 1px solid #4a4a4a;
  border-bottom: 1px solid #4a4a4a;
  color: #C7D6D5;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
} 

.order-item-details {
  display: flex;
  align-items: flex-start;
  gap: 8rem;
  font-size: 0.9rem;
}

.order-item-image {
  width: 6rem;
}

.order-item-name {
  font-weight: 600;
  font-size: 1.2rem;
}

.order-item-info {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.order-item-date, .order-item-payment {
  margin-top: 0.5rem;
}

.order-item-status-container {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.order-item-status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.status-indicator {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #c20114;
}

.track-order-btn {
  border: 1px solid #d1d5db;
  width: 150px;
  height: 35px;
  align-self: center;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 1rem;
}

.track-order-btn:hover {
  background-color: #c20114;
  color: #C7D6D5;
}