body{
    color: #C7D6D5;
}  

.hero{
    height: 100vh;
}

.hero_top{
    display: flex;
    padding-inline: 20px;
    gap: 20px;
    justify-content: space-between;
}

.hero_left{
    max-width: 50%;
    margin-top: 100px;
}

.hero_left h2{
    font-size: 26px;
}

.hero_left h1{
    font-size: 3.5rem;
}

.hero_left p{
    margin-top: 15px;
    font-size: 18px;
    color: #983a45;
}

.hero_left button {
    padding: 1rem 3rem;
    border: none;
    background-color:#c20114 ;
    border-radius: 5px;
    margin-top: 15px;
    color: #C7D6D5;
}

.hero_right{
    max-width: 50%;

}

.hero .hero-img{
    width: 800px;
    height: 500px;
    object-fit: contain;
    position: relative;
    z-index: 1;
}

.hero_bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100% ;
    padding: 25px;
    box-shadow: -1px 11px 24px 11px rgba(196,196,196, 0.75);
    border-radius: 10px;
}

.hero_content{
    display: flex;
    gap: 15px;
}

.info_icon  .hero_icon{
    font-size: 44px;
    color: #c20114;
}

.detail h3{
    font-size: 22px;
}

.detail p{
    color: #6d7275;
    font-size: 18px;
}